<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
  </head>
  <body>
    <a href="/"><button>Go Back</button></a>
    <form class="index-message-div" action="/newform" method="post">
      <h2>Name</h2>
      <input maxlength='20' class="name-input" name="name" type="text" placeholder="Anonymous" />
      <h2>Message</h2>
      <textarea required maxlength="1000"  class="message-input-box"  name="message" type="textarea" placeholder="Message"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>

